<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- JSON FILE APPENDER -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application-log.json</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-log-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp><fieldName>@timestamp</fieldName></timestamp>
                <logLevel/>
                <message/>
                <mdc/>
                <arguments/>
                <threadName/>
                <stackTrace/>
                <loggerName/>
            </providers>
        </encoder>
    </appender>

    <!-- JSON CONSOLE APPENDER -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <logLevel/>
                <message/>
                <loggerName/>
                <threadName/>
                <arguments/>
                <mdc/>
                <timestamp><fieldName>@timestamp</fieldName></timestamp>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- ROOT LOGGER -->
    <root level="INFO">
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- PACKAGE-SPECIFIC LOGGER -->
    <logger name="com.example.spring_solid_criteria" level="DEBUG"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
</configuration>
